@media only screen and (min-width: 275px){

    .col-sm-1 {width: 8.33%;} 
    .col-sm-2 {width: 16.66%;} 
    .col-sm-3 {width: 25%;} 
    .col-sm-4 {width: 33.33%;} 
    .col-sm-5 {width: 41.66%;} 
    .col-sm-6 {width: 50%;} 
    .col-sm-7 {width: 58.33%;} 
    .col-sm-8 {width: 66.66%;} 
    .col-sm-9 {width: 75%;} 
    .col-sm-10 {width: 83.33%;} 
    .col-sm-11 {width: 91.66%;} 
    .col-sm-12 {width: 100%;}

	.containerr{
		/*max-width: 475px;*/
	}
	body {
    -webkit-tap-highlight-color: #f9b23d;
    }
	h1{
		font-family: 'apex_newmedium';
	}
	.logo{
		height: 50px;
		width: 100px;
	}
	.navbar-light .navbar-toggler {
    border-color: black;
    }
    .navbar-toggler-icon {
    width: 1em;
    height: 1em;
    }
    dl, ol, ul {
    margin-top: 10px;
    }
    #navbarNav{
    	background-color: #3f3d3f;
    	padding-bottom: 10px;
    }
    #navbarNav a{
    	color: #969596;
    	padding-left: 10px;
    	/*font-family: 'apex_newthin';*/
    }
    #navbarNav a:hover{
    	color: #f9b23d;
    	box-shadow: 2px 3px;
    	text-shadow: 0px 1.5px;
    	font-size: 18px;
    }
    #navbarNav a:active{
    	color: #f9b23d;
    	box-shadow: 2px 3px;
    }
    #picc {
    background: url('../images/Subsec2.jpeg') no-repeat center center/cover;
    height: 400px;
    }

    #picss{
        background: url('../images/Subsec1.jpeg')  no-repeat center center/cover;
        height: 400px;
    }
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 3.25rem;
    }
    .button{
        background-color: #616161;
        color: #f9b23d;
        box-shadow: 2px 2px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 10px;
    }
    .button:hover{
        box-shadow: 2px 2px;
        color: #161616;
        background-color: #f9b23d;
        /*text-shadow: 0px 1.5px;*/
        border: 1px solid #f9b23d;
    }
    .readdesign{
        text-decoration: none;
        color: #b4b4b4; 
    }
     .readdesign:hover{
        color: #f9b23d;  
    }
    .event{
       margin-top: 2px;
    }
    .eventOverlay {
    /*background-color: rgba(0,0,0,0.3);*/
    height: 350px;
    /*justify-content: space-between;*/
    }
    .eventimage{
        background: url('../images/Eventsec.jpeg')  no-repeat center center/cover;
        height: 350px;

    }
    .eventpara{
        font-family: 'apex_newbold';
        font-size: 5rem;
        color: #b4b4b4;
        padding-left: 2rem;
        display: inline-flex;
    }
    .row {
        --bs-gutter-x: 0rem;
    }
    .upPara{
        color: white;
        justify-content: flex-end;
        align-items: flex-end;
        display: inline-flex;
        /*padding-right: 3rem;*/
        font-family: 'ambitextralight';
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .eventcard{
        height: 250px;
        background-color: #f9b23d;
    }
    .eventoverlay{
       background-color: rgba(0,0,0,0.3);
       height: 250px;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .eventcarddiv p{
        font-family: 'apex_newbold';
        color: white;
        font-size: 2rem;
        animation-name: grow,colorchange;
        animation-duration: 2s,4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .iVid{
        text-align: center;
        background: url('../images/contents.jpeg')  no-repeat center center/cover;
        /*height: 400px;*/
        margin-top: 2px;
    }
    .iVidoverlay{
        background-color: rgba(0,0,0,0.7);
    }
    .iVidpara{
        font-family: 'ambit_bold';
        font-size: 3rem;
    }
    .iVidpara p{
        color: #b4b4b4;
        padding-top: 2.5rem;
        text-shadow: 0px 3px;
    }
    .iVidpara2{
        padding-top: 1rem;
        color: white;
        margin-right: 8rem;
        font-size: 2rem;
    }
    #iframe1{
        padding-bottom: 1rem;
    }
    #iframe2{
        padding-bottom: 1rem;
    }
    footer{
         background-color: black;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
    }
    .icon1{
        background-image: url('../images/logo//one two sports logo files_Icon 100px.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .icon2{
        background-image: url('../images/logo/one two sports logo files_Icon 100px 2.svg');
        height: 50px;
         width: 50px;
        background-repeat: no-repeat;
    }
    .icon3{
        background-image: url('../images/logo/one two sports logo files_logo spt lemon 500px.svg');
        height: 50px;
         width: 50px;
        background-repeat: no-repeat;
    }
    .icon4{
        background-image: url('../images/logo/one two sports logo files_Logo sport yellow 1000px.svg');
        height: 50px;
         width: 50px;
        background-repeat: no-repeat;
    }
    /*.icon5{
        background-image: url('../images/logo/one two sports logo files_logo yellow 500px.svg');
        height: 50px;
        background-repeat: no-repeat;
    }*/
    /*.icon6{
        background-image: url('../images/logo/one-two-logo-white-500.svg');
        height: 50px;
         width: 50px;
        background-repeat: no-repeat;
    }*/
    .icon7{
        background-image: url('../images/logo/one two sports logo files_Icon 100px 4.svg');
        height: 50px;
         width: 50px;
        background-repeat: no-repeat;
    }
    #footerlist{
        text-align: center;
        color: white;
    }
    #footerlist ul > li{
        list-style-type: none;
        padding-top: 0.5rem;
    }
    #footerlist ul > li > a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
    #footerlist ul > li > a:hover{
        color: #f9b23d;
        box-shadow: 1px 2px;
        /*text-shadow: 0px 1.5px;*/
        padding: 5px;
    }
    .footersocial{
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
    }
    .social{
        height: 35px;
        background-color: #a0c541;
        padding-top: 0.5rem;
        padding: 5px;
        border-radius: 20px;
    }
    .copy {
    background-color: black;
    color: floralwhite;
    text-align: center;
    overflow: hidden;
    }
    .copy p{
        padding: 3px;
    }





}