@media only screen and (min-width: 275px){
	.containerr{
		/*max-width: 475px;*/
	}
	h1{
		background-color: yellow;
	}
	.logo{
		height: 50px;
		width: 100px;
	}
	.navbar-light .navbar-toggler {
    color: #f9b23d;
    border-color: black;
}






}